# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx
ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=19b15aafc151f6b8d3ddbfa547e1f302_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=587da365ae7d06a43d5982fb0638ca29_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0326cc0b8343b87fcc870c76b1b7c478-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0420215a833e54ae1abd765237585d4d-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0a4db3c4b4cfabde44dd409e5b4d5667-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0abfeb5de7b5698f4e38fb598dfe1bf1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=10c18c9dadd49aaa94791c9fefd4c2f4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1a8a55bbc3c2f6b1c92b3f1692a92428-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=20066ffea69482fb91e18af6ce4412b7-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=20e2fd3190fe9dd3e2ce8c41052f0bde-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2157b4c9500c8f5a31b32c8ce4073c3a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2fd6c4d472bc448084493e63147997a8-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=30921bb8c7a3eff6527c9131080d5b62-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=323e574f1dcd38f873ebade873c9f56d-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=377a6fc16d55c5c70c908580924b251a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3d558e6f0603060127d72695c85d22f1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=48adbff7b00172c2fe3dcf9b01695389-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4948c08b4d1c25b023ed51584a36d6d4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4a4a93f20802a9935816a91b82eeab7e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4dcd2e2b75fe57b52cd1dbd49975cfa3-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=557f1495492474baebac9deaca6f9ac5-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=59a3965d3e588a75fbacbcbd9d8b0967-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5a3381c6a346bc21610e2f44452b43d1-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5dd8d9e727e633f6070ac8e46a0d0f02-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6471396680161c64720ebbe2b51038bc-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=71ef40d00b6134908e65dabf4ae05722-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=768f3b97e10febe02e9a551dac511927-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=78eb89af97d9cf4c666399fbfeb3b96c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=78f850ba1ab8690aa2445e663772e661-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7ec142936e5507585050798d1558caae-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=822bf07ed090b60c7ff5ac531bb6e156-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8a585b8ce80ce902f06f754a0f33e99c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8a8b28f63bc9c75004648b9df9d54109-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=97b9a3e2946949b2473e0a0b0d0b5264-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a2e23750531c129d90ea2fc801b34190-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a4acbbb7f3862bf9652705057d47260d-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=aff41fb5018cc5ddd2c543b618d163db-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b4b377b147045aea634442c453b2c7c4-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b697af7c990f80274a25388fa518194c-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=bffc9fd0c208267b3d5ff32903301ace-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c130c93a6a54d152cbc5711cef90ea0b-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c3037b76a6242b688d4f9c112d9504e2-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d1644a2b3d7360880400ec01d73afe95-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d2166eef9b044e1d55104c213ff826e3-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d5935fd372df6a040293aae4a9e4532a-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=deb1ae466da2a676b15014f75a723154-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e0535bacf29f957d5212f01b3de59d28-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e2f5f6e15a626340aa5d3ca426392409-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e3504cb17abd9374b5378ac8c78a637b-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e7e063ce3ff3caf2715c60990fda4192-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fb5867e01efcc57253d38cde7c660cd9-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fcf420f17cd2a6262a0edfe894dfd39e-json
ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ff7720e990a0870dde92fd396cba3ef1-json
ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=3e73f2f0eabc06c9eb8ade1f2c1d5503-json
ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=73096ef905ef2279b414afaf4a63597b-json
